*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    list-style-type: none;
}

body{
    background-color: #F53B50;
}

#topoSite{
    width: 100%;
    height: 50px;;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    color: #F7F9F7;
}

.fa-shopping-basket{
    font-size: 30px;
    margin-right: 20px;
    color: #F7F9F7
}

#topoSite h1{
    color: #F7F9F7;
    font-size: 28px;
    font-weight: 900;
    letter-spacing: 1px;
}

.menuToggle{
    display: block;
    position: relative;
    margin-left: 20px;
    z-index: 1;   
    cursor: pointer;
}

.menuToggle li:hover{
    color: #F53B50;
}

.menuToggle input{
    display: block;
    position: absolute;
    cursor: pointer;
    width: 40px;
    height: 40px;
    top: -7px;
    left: -5px;
    opacity: 0;
    z-index: 2;
}

.menuToggle span{
    display: block;
    position: relative;
    width: 33px;
    height: 4px;
    background: #F7F9F7;
    border-radius: 3px;
    margin-bottom: 5px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s ease-in-out, background 0.5s ease-in-out, opacity 0.55s ease;
}

.menuToggle span:first-child{
    transform-origin: 0% 0%;
}
.menuToggle span:nth-last-child(2){
    transform-origin: 0% 100%;
}
.menuToggle input:checked ~ span{
    opacity: 1;
    transform: rotate(45deg) translate(-2px, 1px);
}

.menuToggle input:checked ~ span:nth-last-child(3){
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

.menuToggle input:checked ~ span:nth-last-child(2){
    transform: rotate(-45deg) translate(0, -1px);
}

#menu{
    position: absolute;
    width: 200px;
    margin: -100px 0px 0px -50px;
    padding: 150px 0px 50px 50px;
    background: #F6AE2D;
    list-style-type: none;
    border-radius: 9px;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s ease-in-out;
}

#menu li{
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 35px;
    font-weight: 600;
}

.menuToggle input:checked ~ #menu{
    transform: none;
}

.opcoes{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: white;
}

.food{
    width: 30%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 30px;
    background: #F53B50;
    color: white;
}

.food img{
    border-radius: 100%;
    height: 120px;
    width: 120px;   
    transform: scale(1);
    transition: .3s ease-in-out;
}

.food img:hover{
    transform: scale(1.10);
}

.txt{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.txt{
    font-size: 18px;
}

.fa-chevron-circle-right{
    font-size: 50px;
    position: relative;
    cursor: pointer;
}

#page-menu-pf{
    text-decoration: none;
    color: inherit;
}

#page-menu-pf:hover{
    color: #F6AE2D;  
}